<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
			<form action="/users/login" class="formulario-registro" method="post">
				<label for="email">Correo electronico:</label><br>
				<input type="string" id="email" name="email" placeholder="Ingrese un correo electronico" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
				<% if (locals.errors && errors.email) { %>
				<div class='error-msg'>
					<%= errors.email.msg %>
				</div>
				<% } %>
				<br>
				<label for="contraseña">Contraseña:</label><br>
				<input type="password" id="password" name="password" placeholder="Ingrese su password" ><br>
				<% if (locals.errors && errors.password) { %> 
					<div class="error-msg"><%= errors.password.msg %></div>
				<% } %><br>
				<input type="checkbox" id="rememberme" name="rememberme">
				<label for="rememberme">Recordarme</label><br><br>
				
				<button type="submit">Iniciar Sesion</button>
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>