<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
			<!-- /Header -->

			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<% if (usuario.foto) { %>
							<img src="../images/users/<%= usuario.foto %>" alt="Foto de perfil" class="foto-perfil">
							<% } else { %>
								<img src="/images/placeholder.jpg" alt="Foto de perfil genérica" class="foto-perfil">
								<% } %>
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="main-title">
								<%= usuario.usuario %>
									<a href="/users/profile-edit">
										<i class="fas fa-cog"></i>
									</a>
							</h1>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
						</div>
						<div>
							<ul class="">
								<li><%= usuario.products.length %> productos guardados</li>
								<li>200 seguidores</li>
								<li><%=usuario.comentarios.length%> comentarios</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- /Datos del usuario -->

			<!-- Mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Mis productos</h2>
					</div>
					<!-- Show mis productos -->
					<% if (products && usuario.products.length > 0) { %>
						<% for (let i = 0; i < usuario.products.length && i < 4; i++) { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/product/detail/<%=usuario.products[i].id%>">
										<figure class="product-box_image">
											<img class="imgIndex" src="<%= usuario.products[i].foto%>" alt="<%= usuario.products[i].producto %>">
										</figure>
										<article class="product-box_data">
											<h2 class="prompt-semibold"><%= usuario.products[i].usuario %></h2>
											<p class="prompt-light">Comentarios: <%= usuario.products[i].comentarios.length %></p>
										</article>
									</a>
								</section>
							</div>
						<% } %>
					<% } else { %>
						<div class="col-12">
							<p class="no-products-message">No tienes productos en tu perfil</p>
						</div>
					<% } %>
			</div>
			<!-- /Mis productos -->


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

	</html>